
<div class="footer section-space60">
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="footer-logo"> <img src="assets/plugin/images/logo.png" alt="" class=""> </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <p>Based in Gujarat, yoga studio is india’s leading yoga studio offering over 40 per classes per week
                    across
                    <br> four locations in Mumbai, Delhi, Ahemedabad and Rajkot.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <!-- footer-widget -->
                    <i class="fa fa-map-marker mb30"></i>
                    <h3 class="footer-title">Locations</h3>
                    <address>
                        Jacob street estate,
                        <br> california 8007, America
                    </address>
                    <ul class="listnone contact">
                        <li>+91-123-456-789</li>
                        <li>+91-456-369-964</li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <!-- footer-widget -->
                    <i class="fa fa-clock-o mb30"></i>
                    <h3 class="footer-title">Opening Hour</h3>
                    <ul class="listnone mb0 no-padding">
                        <li>Mon: 6:00am to 9:00pm</li>
                        <li>Tues - Fri: 8:00am to 7:00pm</li>
                        <li>Sat - Sun: 9:00am 1:00pm </li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="footer-widget">
                    <!-- footer-widget -->
                    <i class="fa fa-mail-forward mb30"></i>
                    <h3 class="footer-title">Follow Us On</h3>
                    <ul class="listnone no-padding mb0">
                        <li class="footer-link"><a href="#"><i class="fa fa-facebook-f"></i> facebook</a></li>
                        <li class="footer-link"><a href="#"><i class="fa fa-twitter"></i> twitter</a></li>
                        <li class="footer-link"><a href="#"><i class="fa fa-google-plus"></i> google-plus</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="footer-widget">
                    <!-- footer-widget -->
                    <i class="fa fa-envelope mb30"></i>
                    <h3 class="footer-title">Newsletter</h3>
                    <form>
                        <div class="form-group">
                            <label for="inputEmail3" class="sr-only control-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail3"
                                placeholder="Enter your email address">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline">Subscribe Now</button>
                        </div>
                    </form>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<div class="tiny-footer">
    <!-- tiny-footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Yoga Studio © Copy Rights 2017. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.tiny-footer -->
<!-- back to top icon -->
<a href=" #0 " class="cd-top" title="Go to top">Top</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/CoirzH4fByQ" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
