<form nz-form [formGroup]="createOrUpdateForm">


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tên</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="optionBinding != undefined; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <input nz-input  formControlName="name" [(ngModel)]="optionBinding.name"/>
            </ng-template>
            <ng-template #elseBlock>
                <input nz-input formControlName="name" />
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Chỉ số</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="optionBinding != undefined; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
                <input nz-input  formControlName="amount" type="number" [(ngModel)]="optionBinding.amount"/>
            </ng-template>
            <ng-template #elseBlock1>
                <input nz-input formControlName="amount" type="number"/>
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Đơn vị</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="optionBinding != undefined; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <input nz-input  formControlName="unit" [(ngModel)]="optionBinding.unit" readonly/>
            </ng-template>
            <ng-template #elseBlock2>
                <input nz-input formControlName="unit" readonly/>
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Mô tả</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="optionBinding != undefined; then thenBlock3 else elseBlock3"></div>
            <ng-template #thenBlock3>
                <input nz-input formControlName="description" [(ngModel)]="optionBinding.description"/>
            </ng-template>
            <ng-template #elseBlock3>
                <input nz-input formControlName="description" />
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!createOrUpdateForm.valid"
            (click)="submitForm(createOrUpdateForm.value)">Lưu</button>
            &nbsp;
        <button nz-button (click)="closeForm();">Đóng</button>
    </nz-form-control>

</form>