<form nz-form [formGroup]="createOrUpdateForm">


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tên:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <input nz-input formControlName="name"  [(ngModel)]="customerBinding.name"/>
            </ng-template>
            <ng-template #elseBlock>
                <input nz-input formControlName="name" />
            </ng-template>
           
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>SĐT:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
                <input nz-input formControlName="phoneNumber" [(ngModel)]="customerBinding.phoneNumber"/>
            </ng-template>
            <ng-template #elseBlock1>
                <input nz-input formControlName="phoneNumber"  />
            </ng-template>
            
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Địa chỉ</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <input nz-input formControlName="adress"   [(ngModel)]="customerBinding.adress"/>
            </ng-template>
            <ng-template #elseBlock2>
                <input nz-input formControlName="adress"  />
            </ng-template>
          
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Ngày sinh:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock3 else elseBlock3"></div>
            <ng-template #thenBlock3>
                <input nz-input formControlName="born" type="date"  [(ngModel)]="customerBinding.born" />           
            </ng-template>
            <ng-template #elseBlock3>
                <input nz-input formControlName="born" type="date" />   
            </ng-template>
           
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>User name:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock4 else elseBlock4"></div>
            <ng-template #thenBlock4>
                <input nz-input formControlName="userName" value="Trống" [(ngModel)]="customerBinding.userName"/>
            </ng-template>
            <ng-template #elseBlock4>
                <input nz-input formControlName="userName"  value="Trống"/>
            </ng-template>
          
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock5 else elseBlock5"></div>
            <ng-template #thenBlock5>
                <input nz-input formControlName="password" value="null" type="password"  [(ngModel)]="customerBinding.password"/>
            </ng-template>
            <ng-template #elseBlock5>
                <input nz-input formControlName="password" value="null" type="password" />
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Email:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="customerBinding != undefined; then thenBlock6 else elseBlock6"></div>
            <ng-template #thenBlock6>
                <input nz-input formControlName="email" type="email" [(ngModel)]="customerBinding.email"/>
            </ng-template>
            <ng-template #elseBlock6>
                <input nz-input formControlName="email" type="email" />
            </ng-template>
           
        </nz-form-control>
    </nz-form-item>


    <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!createOrUpdateForm.valid"
            (click)="submitForm(createOrUpdateForm.value)">Lưu</button>
            &nbsp;
        <button nz-button (click)="closeForm();">Đóng</button>
    </nz-form-control>

</form>