<br>
<div nz-row>
    <h3>Hóa đơn</h3>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-card nzTitle="Danh sách hóa đơn" [nzExtra]="extraTemplate">

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" #search nz-input placeholder="từ khóa....." />
            </nz-input-group>

            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="getAllBill(search.value,'','')">
                    <i class="fas fa-search"></i>
                </button>
            </ng-template>

            <br><br>

            <div nz-col class="gutter-row" [nzSpan]="24">
                <nz-collapse>
                    <nz-collapse-panel [nzHeader]="collapse">
                        <div nz-row>
                            <div nz-col nzSpan="1">
                                <p>Từ ngày:</p>
                            </div>
                            <div nz-col nzSpan="4">
                                <nz-input-group>
                                    <input type="text" nz-input type="date" #fromDateFilter/>
                                </nz-input-group>
                      
                            </div>
                          
                            <div nz-col nzSpan="1">
                                <p>Đến ngày:</p>
                            </div>
                            <div nz-col nzSpan="4">
                                <nz-input-group>
                                    <input type="text" nz-input type="date" #toDateFilter/>
                                </nz-input-group>
                            </div>
                            &nbsp;
                            <div nz-col nzSpan="4">
                                <button nz-button nzType="primary" (click)="getAllBill(search.value,fromDateFilter.value,toDateFilter.value )">Áp dụng</button>
                            </div>
                          </div>
                                            
                    </nz-collapse-panel>
                  </nz-collapse>
            </div>

            

            <br><br>

            <nz-table nzTemplateMode #table [nzData]="billList">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Giá gốc</th>
                        <th>Giảm giá</th>
                        <th>Thành tiền</th>
                        <th>Ghi chú</th>
                        <th>Khách hàng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of table.data">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.dateCreated | date:'dd-MM-YYYY'}}</td>
                        <td>{{data.userCreated}}</td>
                        <td>{{data.originalPrice | currency:'VND'}}</td>
                        <td>{{data.discount}}</td>
                        <td>{{data.totalPrice | currency:'VND'}}</td>
                        <td>{{data.note}}</td>
                        <td>{{data.customerName}}</td>
                        <td>
                            <button nz-button nzType="primary" (click)="showModal(data.id)">Sửa</button>
                            &nbsp;
                            <button nz-button nzType="primary" (click)="deleteBill(data.id)">Xóa</button>
                        </td>
                    </tr>

                </tbody>
            </nz-table>

        </nz-card>
        <ng-template #extraTemplate>
            <button nz-button nzType="primary" (click)="showModal()">
                <i class="fas fa-plus"></i>&nbsp;
                Thêm mới
            </button>
        </ng-template>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Thêm/sửa hóa đơn</ng-template>

    <ng-template #modalContent>

        <app-create-or-update-bill (closeEvent)="handleCancel()" (saveEvent)="handleOk()"
            [billBinding]="billListFilter"></app-create-or-update-bill>
    </ng-template>

    <ng-template #modalFooter>

    </ng-template>
</nz-modal>