<form nz-form [formGroup]="createOrUpdateForm">


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Mã:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <input nz-input formControlName="name"  [(ngModel)]="billBinding.name" readonly/>
            </ng-template>
            <ng-template #elseBlock>
                <input nz-input formControlName="name"  readonly/>
            </ng-template>
           
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>
    
            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Khách hàng:</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
                <input nz-input formControlName="customerId"  [(ngModel)]="billBinding.customerId" readonly/>
            </ng-template>
            <ng-template #elseBlock1>
                <input nz-input formControlName="customerId" readonly/>
            </ng-template>
           
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>
             
            </ng-template>
        </nz-form-control>
    </nz-form-item>



    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Người tạo</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <input nz-input formControlName="userCreated"  [(ngModel)]="billBinding.userCreated"/>
            </ng-template>
            <ng-template #elseBlock2>
                <input nz-input formControlName="userCreated" />
            </ng-template>
          
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tổng tiền</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock3 else elseBlock3"></div>
            <ng-template #thenBlock3>
                <input nz-input formControlName="originalPrice"  [(ngModel)]="billBinding.originalPrice"  readonly/>           
            </ng-template>
            <ng-template #elseBlock3>
                <input nz-input formControlName="originalPrice"  readonly/>   
            </ng-template>
           
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Giảm giá</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock4 else elseBlock4"></div>
            <ng-template #thenBlock4>
                <input nz-input formControlName="discout"  [(ngModel)]="billBinding.discount" readonly/>
            </ng-template>
            <ng-template #elseBlock4>
                <input nz-input formControlName="discout"   readonly/>
            </ng-template>
          
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                    giá trị này đã tồn tại
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Thành tiền</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock5 else elseBlock5"></div>
            <ng-template #thenBlock5>
                <input nz-input formControlName="totalPrice"  [(ngModel)]="billBinding.totalPrice" readonly/>
            </ng-template>
            <ng-template #elseBlock5>
                <input nz-input formControlName="totalPrice"  readonly/>
            </ng-template>
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    giá trị bắt buộc
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                    giá trị này đã tồn tại
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Ghi chú</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <div *ngIf="billBinding != undefined; then thenBlock6 else elseBlock6"></div>
            <ng-template #thenBlock6>
                <input nz-input formControlName="note" [(ngModel)]="billBinding.note"/>
            </ng-template>
            <ng-template #elseBlock6>
                <input nz-input formControlName="note"  />
            </ng-template>
           
        </nz-form-control>
    </nz-form-item>


    <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!createOrUpdateForm.valid"
            (click)="submitForm(createOrUpdateForm.value)">Lưu</button>
            &nbsp;
        <button nz-button (click)="closeForm();">Đóng</button>
    </nz-form-control>

</form>