<div>
    <h1 class="title-dance">Giới thiệu về Dance</h1>
    <carousel class="carousel-dance">
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/190244274_2944670082446414_3561301497655788900_n.png"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>
                </div>
                <div class="content-dance">
                    Các chuyên gia hàng đầu về sức khỏe tại Na Uy đã khẳng định rằng tập yoga thực sự có lợi cho hệ miễn
                    dịch cho cơ thể. Những bài tập yoga kết hợp âm nhạc không chỉ khiến con người trở nên uyển chuyển,
                    linh hoạt hơn mà quá trình hít thở cũng khiến hệ hô hấp, tăng hấp thụ oxi cho toàn bộ cơ thể và giúp
                    các cơ quan khác hoạt động tốt hơn.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/Dance-Photography-by-Pickled-Thoughts-1-379d4.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Vốn dĩ yoga truyền thống có khả năng giảm cơn thèm ăn ở những người béo phì. Khi kết hợp với âm
                    nhạc, dance yoga giúp bạn tăng cường khả năng kết nối giữa thể xác với tâm trí, từ đó dễ dàng điều
                    chỉnh cảm xúc của mình khiến bạn quên cơn đói và tăng khả năng kiềm chế cơn thèm ăn.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/bd5y.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Tập dance yoga hàng ngày là phương pháp trị liệu tốt nhất cho người bị mất ngủ thường xuyên. Nó
                    không chỉ giúp bộ não giải tỏa stress, dễ đưa cơ thể vào giấc ngủ, ngủ sâu giấc mà còn có tác dụng
                    tạo sự sảng khoái, thư giãn vào ngày hôm sau.
                </div>
            </div>
        </slide>
    </carousel>
    <carousel class="carousel-dance">
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/chi-can-14-ngay-luyen-tap-co-ngay-eo-thon-dang-dep-4.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>
                </div>
                <div class="content-dance">
                    Công việc, học tập hay các mối quan hệ xã hội khiến bộ não bạn phải chịu áp lực và gây nên chứng đau
                    nửa đầu phiền toái, cản trở các hoạt động khác của cơ thể. Điều này khiến bạn trở nên mệt mỏi, kém
                    linh hoạt và thường xuyên rơi vào trạng thái bế tắc, dễ nổi giận và có suy nghĩ tiêu cực.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/khi-nhay-zoomba-ban-nen-mac-do-thoai-mai-co-gian_085511983.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Một nghiên cứu đã chỉ ra rằng sau 3 tháng tập yoga kết hợp âm nhạc (dance yoga), các cơn đau đầu
                    giảm dần ở những người mắc chứng đau nửa đầu. Đồng thời khiến bạn cảm thấy tích cực, tăng sức chịu
                    đựng các áp lực cho bộ não và tự tin hơn trong cuộc sống thường ngày.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/nhung-dong-tac-yoga-ho-tro-chua-chung-run-tay-2.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Qua bài viết trên, CFYC hy vọng các bạn đã bỏ túi cho mình những thông tin hữu ích về bài nhảy giảm
                    mỡ hiệu quả “Dance yoga”. Dance yoga đem lại rất nhiều lợi ích cho sức khỏe và vóc dáng cho người
                    thường xuyên luyện tập. Nếu gặp vấn đề trong quá trình thực hiện bài tập dance yoga, các bạn hãy
                    liên hệ CFYC để được tư vấn, hướng dẫn và trải nghiệm các khóa học nhảy, được đứng lớp bởi các huấn
                    luyện viên dạy nhảy chuyên nghiệp.
                </div>
            </div>
        </slide>
    </carousel>
    <carousel class="carousel-dance">
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/tong-hop-cac-bai-tap-dot-chay-300-calo-trong-1-gio-2.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Yoga không phải lúc nào cũng chữa trị được sự căng thẳng. Yoga giúp trung hòa căng thẳng thông
                    qua
                    việc nâng cao và thay đổi nhận thức bản thân.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/chiem-nguong-bo-anh-dance-sport-cuc-dep-cua-vo-chong-khanh-thi-phan-hien-1605542019-1.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Yoga mang nghĩa bổ sung- bổ sung năng lượng, sức mạnh và vẻ đẹp cho cơ thể, cho trí não và tâm
                    hồn.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-dance-intro">
                <div class="image-dance-intro">
                    <div>
                        <img src="assets/plugin/images/dance/2168f195a9a608bbc243085388cbb1ed.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-dance">
                    Hiểu biết triết lý Yoga rất quan trọng. Thiếu hiểu biết triết lý, việc tập (tư thế) Yoga không ý
                    nghĩa nữa. Tuy vậy, việc tập Yoga, là một khởi đầu tốt để biết về triết lý Yoga
                </div>
            </div>
        </slide>
    </carousel>
</div>
<app-footer></app-footer>