.flex-dance-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flex-dance-intro .image-dance-intro {
    padding: 20px
}

.flex-dance-intro .content-dance {
    word-spacing: 4px;
    width: 20%
}


::ng-deep .carousel-control-next {
    left: 755px !important;
    top: 11px !important;
}

::ng-deep .carousel-control-prev {
    left: 375px;
}


.title-dance {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
}

::ng-deep .carousel-inner {
    position: initial !important;
}