<div>
    <h1 class="title-yoga">Giới thiệu về Yoga</h1>
    <carousel class="carousel-yoga">
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/phong-tap-yoga-dang-ngoc-spa-1-758x564.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>
                </div>
                <div class="content-yoga">
                    Yoga không xóa bỏ chúng ta khỏi thực tại hoặc những trách nhiệm của cuộc sống thường nhật, mà là
                    đặt
                    chứng ta, một cách vững chắc và kiên định trong nền tảng của những trải nghiệm. Chúng ta không
                    vượt
                    quá giới hạn của cuộc sống, mà thay vào đó sẽ trở lại với những hi vọng về một cuộc sống tốt đẹp
                    hơn.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/187859169_409871419968950_2544135324334949322_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Bạn có thể không kiểm soát được cả thế giới rộng lớn ngoài kia, nhưng bạn có thể học cách kiểm
                    soát
                    thế giới tâm hồn của chính mình thông qua Yoga.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/179495915_463022928265065_6279337436148106918_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Yoga mang bạn hòa mình vào thiên nhiên và dạy cho bạn cách tò mò một cách hào hứng về thế giới
                    tâm
                    hồn.
                </div>
            </div>
        </slide>
    </carousel>
    <carousel class="carousel-yoga">
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/132425432_1272085919833021_1273864095408185950_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>
                </div>
                <div class="content-yoga">
                    Cứ thực hành Yoga rồi mọi thứ sẽ đến
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/132545719_1272086343166312_6190116672839233488_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Ai cũng tập được yoga. Người trẻ tập được, người lớn tuổi tập được. Người già cũng tập được.
                    Người
                    ốm cũng tập được. Chỉ có người lười biếng không tập được. Người lười biếng không tập Ashtanga
                    được.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/168209599_1335735366801409_4795956112587173971_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Hiểu biết triết lý Yoga rất quan trọng. Thiếu hiểu biết triết lý, việc tập (tư thế) Yoga không ý
                    nghĩa nữa. Tuy vậy, việc tập Yoga, là một khởi đầu tốt để biết về triết lý Yoga
                </div>
            </div>
        </slide>
    </carousel>
    <carousel class="carousel-yoga">
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/186508002_406878190274177_3734449216852311362_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Yoga không phải lúc nào cũng chữa trị được sự căng thẳng. Yoga giúp trung hòa căng thẳng thông
                    qua
                    việc nâng cao và thay đổi nhận thức bản thân.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/186561570_963142444502171_773897709836635051_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Yoga mang nghĩa bổ sung- bổ sung năng lượng, sức mạnh và vẻ đẹp cho cơ thể, cho trí não và tâm
                    hồn.
                </div>
            </div>
        </slide>
        <slide>
            <div class="flex-yoga-intro">
                <div class="image-yoga-intro">
                    <div>
                        <img src="assets/plugin/images/yoga/187859169_409871419968950_2544135324334949322_n.jpg"
                            class="img-responsive" alt="" width="400" height="400">
                    </div>

                </div>
                <div class="content-yoga">
                    Hiểu biết triết lý Yoga rất quan trọng. Thiếu hiểu biết triết lý, việc tập (tư thế) Yoga không ý
                    nghĩa nữa. Tuy vậy, việc tập Yoga, là một khởi đầu tốt để biết về triết lý Yoga
                </div>
            </div>
        </slide>
    </carousel>
</div>
<app-footer></app-footer>
