<br>
<div nz-row>
    <h3>Lịch học</h3>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-card nzTitle="Bảng lịch học" [nzExtra]="extraTemplate">

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" #search nz-input placeholder="từ khóa....." />
            </nz-input-group>

            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch #search
                    (click)="getAllTimeTable(search.value, undefined, undefined)">
                    <i class="fas fa-search"></i>
                </button>
            </ng-template>

            <br><br>

            <div nz-col class="gutter-row" [nzSpan]="24">
                <nz-collapse>
                    <nz-collapse-panel [nzHeader]="collapse">
                        <div nz-row>
                            <div nz-col nzSpan="1">
                                <p>Từ ngày:</p>
                            </div>
                            <div nz-col nzSpan="4">
                                <nz-input-group>
                                    <input type="text" nz-input type="date" #fromDateFilter />
                                </nz-input-group>

                            </div>

                            <div nz-col nzSpan="1">
                                <p>Đến ngày:</p>
                            </div>
                            <div nz-col nzSpan="4">
                                <nz-input-group>
                                    <input type="text" nz-input type="date" #toDateFilter />
                                </nz-input-group>
                            </div>
                            &nbsp;
                            <div nz-row>
                                <div nz-col>
                                    <div nz-col nzSpan="4">
                                        <button nz-button nzType="primary"
                                            (click)="getAllTimeTable('',fromDateFilter.value,toDateFilter.value )">Áp
                                            dụng</button>
                                    </div>
                                </div>
                                &nbsp;
                                <div nz-col>
                                    <div nz-col nzSpan="4">
                                        <button nz-button nzType="primary"
                                            (click)="getAllTimeTable('',undefined,undefined)">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </nz-collapse-panel>
                </nz-collapse>
            </div>

            <nz-table #table [nzData]="dayList">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ca</th>
                        <th *ngFor="let item of dayList" #dayValue>{{item}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sessionList">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td *ngFor="let item of dayList">
                            <div *ngFor="let childItem of timeTableList">
                        <td *ngIf="childItem.day == item && childItem.sessionId == data.id">Lớp: {{childItem.className}}
                            <br> GV: {{childItem.employeeName}}
                            <br> Bài: {{childItem.lesson}}
                            <br> Ngày: {{childItem.date | date: 'dd-MM-YYYY'}}
                            <hr>
                        </td>
    </div>
    </td>
    </tr>

    </tbody>
    </nz-table>

    </nz-card>
    <ng-template #extraTemplate>
        <button nz-button nzType="primary" (click)="showModal()">
            <i class="fas fa-plus"></i>&nbsp;
            Thêm mới
        </button>
        &nbsp;
        <button nz-button nzType="primary" (click)="showModal1()">Chi tiết</button>
    </ng-template>
</div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Thêm/sửa lịch học</ng-template>

    <ng-template #modalContent>
        <app-create-or-update-timetable (closeEvent)="handleCancel()" (saveEvent)="handleOk()"
            [timeTableBinding]="timeTableListFilter"></app-create-or-update-timetable>
    </ng-template>

    <ng-template #modalFooter>

    </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isVisible1" [nzTitle]="modalTitle1" [nzContent]="modalContent1" [nzFooter]="modalFooter1"
    nzWidth='1000px' (nzOnCancel)="handleCancel1()">
    <ng-template #modalTitle1>Sửa lịch học</ng-template>

    <ng-template #modalContent1>

        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    Lớp học:
                    <nz-select [(ngModel)]="binding1" style="width: 100%;" nzShowSearch
                        (ngModelChange)="getTimeTableById(classId.value, employeeId.value, sessionId.value)" #classId>
                        <nz-option *ngFor="let item of classList" [nzLabel]="item.name" [nzValue]="item.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    Ca học:
                    <nz-select style="width: 100%;" [(ngModel)]="binding2" nzShowSearch
                        (ngModelChange)="getTimeTableById(classId.value, employeeId.value, sessionId.value)" #sessionId>
                        <nz-option *ngFor="let item of sessionList" [nzLabel]="item.name" [nzValue]="item.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">
                <div class="inner-box">
                    Giáo viên:
                    <nz-select style="width: 100%;" [(ngModel)]="binding3" nzShowSearch
                        (ngModelChange)="getTimeTableById(classId.value, employeeId.value, sessionId.value)"
                        #employeeId>
                        <nz-option *ngFor="let item of teacherList" [nzLabel]="item.name" [nzValue]="item.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

        <br>
        <div nz-col class="gutter-row" [nzSpan]="10">
            <button nz-button nzType="primary" (click)="getAllTimeTable('')">
                <i class="fas fa-undo"></i>&nbsp;
                Reset
            </button>
        </div>


        <br><br>

        <nz-table nzTemplateMode #table [nzData]="timeTableList">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Lớp</th>
                    <th>Ca</th>
                    <th>Giáo viên</th>
                    <th>Thứ</th>
                    <th>Ngày</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of table.data">
                    <td>{{data.id}}</td>
                    <td>{{data.className}}</td>
                    <td>{{data.sessionName}}</td>
                    <td>{{data.employeeName}}</td>
                    <td>{{data.day}}</td>
                    <td>{{data.date | date:'dd-MM-YYYY'}}</td>
                    
                    <td>
                        <button nz-button nzType="primary" (click)="showModal(data.id)">Sửa</button>
                        &nbsp;
                        <button nz-button nzType="primary" (click)="deleteTimeTable(data.id)">Xóa</button>
                    </td>
                </tr>

            </tbody>
        </nz-table>
    </ng-template>

    <ng-template #modalFooter1>
        <button nz-button nzType="primary" (click)="handleCancel1()">Đóng</button>
    </ng-template>
</nz-modal>